---
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jan Francksen | Frontend-Developer & UI/UX-Designer">
  <main>
    <Hero />
    <section class="w-5/6 mx-auto grid grid-cols-3 gap-8 my-20">
      <h2 class="font-bold text-5xl col-span-3 text-gray-800">
        Mein <span class="text-purple-500">Stack</span>
      </h2>

      <Card href="https://nextjs.org/" title="NextJS" body="React Framework" />
      <Card
        href="https://tailwindcss.com/"
        title="Tailwind CSS"
        body="Utility-first CSS Framework"
      />
      <Card
        href="https://www.typescriptlang.org/"
        title="Typescript"
        body="JavaScript with syntax for types"
      />
      <Card href="#" title="Astro" body="All-in-one web framework" />
      <Card
        href="https://www.gatsbyjs.com/"
        title="GatsbyJS"
        body="Frontend Framework"
      />
      <Card
        href="https://www.prisma.io/"
        title="Prisma"
        body="Open source ORM"
      />
    </section>
    <section class="w-5/6 mx-auto grid grid-cols-3 gap-8 my-20">
      <h2 class="font-bold text-5xl col-span-3 text-gray-800">
        Meine <span class="text-emerald-400">Projekte</span>
      </h2>

      <Card
        href="https://jott-zwei.netlify.app/"
        title="Jott Zwei"
        body="Werbeagentur im Artland. Ein Projekt von Anfang 2020 bis Ende 2021. Gemacht mit GatsbyJS und Styled-Components."
      />
      <Card
        href="https://cookibooki.app/"
        title="CookiBooki"
        body="IN DEVELOPMENT: Eine Web- und Mobileapp für Rezepte, Einkaufslisten und mehr. Gemacht mit NextJS, Tailwind, Prisma..."
      />
      <Card
        href="https://reternity.de/"
        title="Reternity"
        body="Webshop für ein Bekleidungsmarke. Erstellt mit Shopify."
      />
    </section>
  </main>
</Layout>
