---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="border p-4 hover:bg-red-300 transition-colors list-none">
  <a href={href}>
    <h2 class="font-bold text-xl">
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
